# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/.firebase
/.github
/.idea
# dependencies
/node_modules
/.pnp
.pnp.js
.*

# testing
/coverage

# production
/build

# misc
client_secret_986088841113-l8rqvoou2v7bbh9h3m9pgql79f8cs4m9.apps.googleusercontent.com.json
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
